<mat-sidenav-container>
  <navigation-header (accountEvent)="register()" (logoutEvent)="logout()"  [user]="user$ | async" (loginEvent)="login()" (sidenavToggle)="sidenav.toggle()"></navigation-header>

  <mat-sidenav #sidenav mode="side" >
    <navigation-side [user]="user$ | async" (sidenavClose)="sidenav.close()"></navigation-side>
  </mat-sidenav>

  <main>
   <saraphan-shell [showShell]="showShell" (registerEvent)="register()" [user]="user$ | async"></saraphan-shell>
    <router-outlet></router-outlet>
  </main>


</mat-sidenav-container>
