<div class="container h-100">
  <div class="row h-100  align-items-center justify-content-center">
    <div class="d-flex align-items-center px-4 pb-3 ">
      <mat-card (click)="navigate('account')" color="primary" matTooltip="click to see your account">
        <mat-card-title>
          See if I have clients
        </mat-card-title>
        <img class="large" src="/assets/unDraw/undraw_online_connection_6778.svg" alt="service provider">

      </mat-card>
    </div>

    <div class="d-flex align-items-center px-4 pb-3 ">
      <mat-card (click)="navigate('search')" color="primary" matTooltip="click to search">
        <mat-card-title>
          Shopping for service
        </mat-card-title>
        <img class="large" src="/assets/unDraw/shopping.svg" alt="client">

      </mat-card>
    </div>
  </div>
</div>
